@font-face {
  font-family: "Fuente-contenido";
  src: url("../fonts/Mithella-Regular.otf");
}
@font-face {
  font-family: "Fuente-Titulos";
  src: url("../fonts/Friendly-Schoolmates.otf");
}

body {
  font-family: "Fuente-contenido";
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b75bb;
  font-family: "Fuente-Titulos";
}

.nav-links {
  background-color: #000000;
  position: sticky;
  z-index: 1;
  top: 0;
}

.ul-link-nav > li {
  padding: 5px 2rem 5px 2rem;
}

.ul-link-nav > li > a {
  color: whitesmoke;
}

.ul-link-nav > li:hover {
  background-color: #657c9b;
}

#slog {
  font-size: 2rem;
  color:#1000C2;
  padding-left: 0px;
  font-family: "Fuente-Titulos";
}
a {
  text-decoration: none;
}
.div-central-nav {
  width: 30rem;
}

#carouselExampleControls {
  padding-left: 1rem;
}
.buttons {
  background-color: #4b6587;
  color: white;
}
.buttons:hover {
  background-color: #657c9b;
  color: white;
}

#nabvar-button {
  color:#1000C2;
  background-color: rgb(255, 255, 255);
}

/*footer*/
footer {
  background-color: #3c5186;
  font-size: 1rem;
  color: white;
  margin-top: 2rem;
  text-align: center;
}
.titles-footer {
  color: white;
}
.ul-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidder {
  display: flexbox;
}

.shadow-card {
  box-shadow: 0px 0px 15px 3px #d6d6d6;
}

#link-rooms {
  color: black !important;
}

#button-link-rooms:hover > a {
  color: white !important;
}

@media (max-width: 750px) {
  .hidder {
    display: none !important;
  }
  .ul-link-nav > li {
    padding: 5px 2rem 5px 1rem;
  }
}

.carousel-item img {
  object-fit: cover;
}
.modal-footer{
  background-color:#2499c7;

}

.navbar-light{
  background-color: #2499c7 !important;
}