/*Importacion Fuentes Externas*/
@font-face {
  font-family: "Fuente-contenido";
  src: url("../fonts/Mithella-Regular.otf");
}
@font-face {
  font-family: "Fuente-Titulos";
  src: url("../fonts/Friendly-Schoolmates.otf");
}

/*Estilos Globales*/
body {
  font-family: "Fuente-contenido";
  background-color: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1000C2;
  font-family: "Fuente-Titulos";
}

a {
  text-decoration: none;
}

/*Estilos Navbar*/
.nav-links {
  background-color: #000000;
}

.ul-link-nav > li {
  padding: 5px 2rem 5px 2rem;
}

.ul-link-nav > li > a {
  color: whitesmoke;
}

.ul-link-nav > li:hover {
  background-color: #657c9b;
}

#slog {
  font-size: 2rem;
  color:#ffffff;
  padding-left: 0px;
  font-family: "Fuente-Titulos";
}


.div-central-nav {
  width: 30rem;
}

#carouselExampleControls {
  padding-left: 1rem;
}
.buttons {
  background-color: #2499c7;
  color: white;
}
.buttons:hover {
  background-color: #15598e;
  color: white;
}

#nabvar-button {
  color:#1000C2;
  background-color: rgb(255, 255, 255);
}

/*Estilos Footer*/
footer {
  background-color: #2499c7 !important;
  font-size: 1rem;
  color: white;
  margin-top: 2rem;
  padding: 3rem;
}
.titles-footer {
  color: white;
}
.ul-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidder {
  display: flexbox;
}

.shadow-card {
  box-shadow: 0px 0px 15px 3px #d6d6d6;
}

#link-rooms {
  color: black !important;
}

#button-link-rooms:hover > a {
  color: white !important;
}

@media (max-width: 750px) {
  .hidder {
    display: none !important;
  }
  .ul-link-nav > li {
    padding: 5px 2rem 5px 1rem;
  }
}

.carousel-item img {
  object-fit: cover;
}
.modal-footer{
  background-color:#2499c7;

}

.navbar-light{
  background-color: #2499c7 !important;
}

.menuPerfil{
  position: absolute;
  list-style: none;
  border-radius: 10%;
  background-color:#2fb7ec;
  right: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  display: none;
  z-index: 1;
}
.menuPerfil li{
  width: 100%;
  padding: 20px;
  transition: all .5s;
}
.menuPerfil a li{
  color: white;
}

.menuPerfil li:hover{
  background-color:#2983d8;
}

.fotoPerfil:hover .menuPerfil{
  display: block;
}
.fotoPerfil:hover{
  cursor: pointer;
}

.star-rating a {
  display: inline-block;
  color: #95a5a6; /* gris (normal) */
  font-size: xx-large;
}
.star-rating:hover a {
  color: #f39c12; /* amarillo (seleccionado) */
}
  .star-rating:hover a:hover ~ a {
    color: #95a5a6; /* gris (normal) */
  }

/*Estilos Login*/
.body_login_clients{
  background-image: url("../img/background_body_client.jpg");
  background-size: cover;
}

.body_login_admin{
  background-image: url("../img/background_body_admin.jpg");
  background-size: cover;
}

.container_login{
  height: 100vh;
}

#container_links_login{
  margin-top: 20px;
}

.link_login{
  display: block;
}
